<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta name="viewport" content="width=device-width" /><!-- IMPORTANT -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Abandoned Checkout</title>

<link rel="stylesheet" type="text/css" href="build/css/main.css" />

</head>

<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#ff4259">
	<tr>
		<td></td>
		<td class="header container">

				<div class="content">
					<table bgcolor="#ff4259">
						<tr>
							<td>
								<a href="{{ shop.url }}" title="{{ shop_name }}" alt="{{ shop_name }}" /><img src="{{ 'logo.png' | asset_url }}" style="width:70px;height:auto;" /></a>
							</td>
							<td align="right">
								<h6 class="collapse">Come Back!</h6>
							</td>
						</tr>
					</table>
				</div>

		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<br/>
						<h3>Hi{% if billing_address.name %} {{ billing_address.name }}{% endif %}</h3>

						<br/>

						<p>Your {{ shop_name }} cart has been reserved and is waiting for your return!</p>

						<br/>

						<!-- Line Items -->
						{% for line in line_items %}
						<p class="products">
							<img src="{{ line.product.featured_image | product_img_url: 'small' }}" />
							<span> {{ line.quantity }}x {{ line.title }}</span>
							<div style="clear:both;"></div>
							<hr>
						</p>

						{% endfor %}
						<!-- /Line Items -->

						<br/>
						<br/>

						<p style="text-align:center;">
							<a class="btn" href="{{ url }}">Complete Your Order</a>
						</p>

						<br/>

						<p><small>If you can't get the button to work, paste this link into your browser: {{ url }}</small></p>

					</td>
				</tr>
			</table>
			</div>

		</td>
		<td></td>
	</tr>
</table>
<!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap" bgcolor="#ff4259">
	<tr>
		<td></td>
		<td class="container">

				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>Thank you for shopping at <a href="{{ shop.url }}" style="color:#111111;">{{ shop.name }}</a>!</p>
						<a href="{{ shop.url }}" title="{{ shop_name }}"><img src="{{ 'logo.png' | asset_url }}" style="width:40px;height:auto;" alt="{{ shop_name }}" /></a>
						<br/><br/>
						<p><strong><a href="{{ shop.email }}" style="color:#111111;">{{ shop.email }}</a></strong></p>
						<p><small>© {{ shop.name }}</small></p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>