<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta name="viewport" content="width=device-width" /><!-- IMPORTANT -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Gift Card Notification</title>

<link rel="stylesheet" type="text/css" href="build/css/main.css" />

</head>

<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap">
	<tr>
		<td></td>
		<td class="header container">

				<div class="content">
					<table>
						<tr>
							<td>
								<a href="{{ shop.url }}" title="{{ shop_name }}" alt="{{ shop_name }}" /><img src="{{ 'logo.png' | asset_url }}" style="width:70px;height:auto;" /></a>
							</td>
							<td align="right">
								<h6 class="collapse">{{ shop_name }}</h6>
							</td>
						</tr>
					</table>
				</div>

		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<br/>
						<h3>Hi{% if gift_card.customer %} {{ gift_card.customer.first_name }}{% endif %},</h3>

						<!-- You may like to include a Hero Image -->
						<p><img src="{{ line.product.featured_image | product_img_url: 'grande' }}" alt="" /></p>
						<!-- /Hero Image -->

						<br/>

						<h4>Here is your <a href="{{ shop.url }}">{{ shop.name }}</a> gift card for {{ gift_card.initial_value | money_without_trailing_zeros }}.</h4>

						{% if gift_card.initial_value != gift_card.balance %}
						<p>You have {{ gift_card.balance | money_without_trailing_zeros }} left on this gift card.</p>
						{% endif %}

						<br/>

						<p style="text-align:center;">
							<a class="btn" href="{{ gift_card.url }}">View Gift Card &raquo;</a>
						</p>

						<p style="text-align:center;"><small>You can also print your gift card using this link</small></p>

						<p>Purchased this gift card for someone else? Feel free to forward them this email.</p>

						<br/>

						<p><small>If you can't get the button to work, paste this link into your browser: {{ gift_card.url }}</small></p>

					</td>
				</tr>
			</table>
			</div>

		</td>
		<td></td>
	</tr>
</table>
<!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">

		<!-- content -->
		<div class="content">
			<table>
				<tr>
					<td align="center">
						<p>Thank you for shopping at <a href="{{ shop.url }}">{{ shop.name }}</a>!</p>
						<a href="{{ shop.url }}" title="{{ shop_name }}"><img src="{{ 'logo.png' | asset_url }}" style="width:40px;height:auto;" alt="{{ shop_name }}" /></a>
						<br/><br/>
						<p><strong><a href="{{ shop.email }}">{{ shop.email }}</a></strong></p>
					</td>
				</tr>
			</table>
		</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>