<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta name="viewport" content="width=device-width" /><!-- IMPORTANT -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Order Confirmed</title>

<link rel="stylesheet" type="text/css" href="build/css/main.css" />

</head>

<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#ff4259">
	<tr>
		<td></td>
		<td class="header container">

				<div class="content">
					<table bgcolor="#ff4259">
						<tr>
							<td>
								<a href="{{ shop.url }}" title="{{ shop_name }}" alt="{{ shop_name }}" /><img src="{{ 'logo.png' | asset_url }}" style="width:70px;height:auto;" /></a>
							</td>
							<td align="right">
								<h6 class="collapse">Order Confirmed</h6>
							</td>
						</tr>
					</table>
				</div>

		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<br/>
						<h3>Thanks{% if billing_address.name %}, {{ billing_address.name }}{% endif %}</h3>

						<br/>

						<h4>Your Order <small>{{ date | date: "%d/%m/%Y" }}</small></h4>
						<p>Thank you for placing your order with {{ shop_name }}. This email is to confirm your order has been placed successfully, and will be processed & shipped to you soon.</p>

						<br/>

						<!-- Line Items -->
						{% for line in line_items %}
						<div class="products">
							<img src="{{ line.product.featured_image | product_img_url: 'small' }}" />
							<span> {{ line.quantity }}x {{ line.title }} / {{ line.price | money }}</span>
						</div>
						<hr>
						<div style="clear:both;"></div>
						{% endfor %}
						<!-- /Line Items -->

						<br/>
						<br/>

						<!-- Totals -->
						<h5><b>Subtotal:</b> {{ subtotal_price | money_with_currency }}</h5>

						<!-- Totals -->
						<table class="columns" width="100%">
							<tr>
								<td>

									{% if requires_shipping %}
										<!--- column 1 -->
										<table align="left" class="column">
											<tr>
												<td>
													<p><b>Shipping:</b> {{ shipping_price | money_with_currency }}</p>
												</td>
											</tr>
										</table>
										<!-- /column 1 -->
									{% endif %}

									<!-- Discounts -->
									{% if discounts %}
										<!--- column 2 -->
										<table align="left" class="column">
											<tr>
												<td>
													<p><b>Discounts:</b> {{ discounts_savings | money_with_currency }}</p>
												</td>
											</tr>
										</table>
										<!-- /column 2 -->
									{% endif %}
									<!-- /Discounts -->

									<span class="clear"></span>

								</td>
							</tr>
						</table>
						<!-- /Totals -->

						{% for tax_line in tax_lines %}
							<p><b>{{ tax_line.title }}:</b> {{ tax_line.price | money_with_currency }}</p>
						{% endfor %}

						<br/>
						<br/>

						<h4><b>Total: {{ total_price | money_with_currency }}</b></h4>
						<!-- /Totals -->

						<br/>

						<!-- address detals -->
						<table class="columns" width="100%">
							<tr>
								<td>
									{% if requires_shipping and shipping_address %}
										<!--- column 1 -->
										<table align="left" class="column">
											<tr>
												<td>
													<h5 class="">Shipping address</h5>
													<p class="">
														{{ shipping_address.name }}<br/>
														{{ shipping_address.street }}<br/>
														{{ shipping_address.city }}<br/>
														{{ shipping_address.province }}
														{{ shipping_address.zip }}<br/>
														{{ shipping_address.country }}</p>
													</p>
												</td>
											</tr>
										</table>
									<!-- /column 1 -->
									{% endif %}

									{% if billing_address %}
										<!--- column 2 -->
										<table align="left" class="column">
											<tr>
												<td>
													<h5 class="">Billing address</h5>
													<p class="">
														{{ billing_address.name }}<br/>
														{{ billing_address.street }}<br/>
														{{ billing_address.city }}<br/>
														{{ billing_address.province }}
														{{ billing_address.zip }}<br/>
														{{ billing_address.country }}</p>
	                								</p>
												</td>
											</tr>
										</table>
										<!-- /column 2 -->
									{% endif %}

									<span class="clear"></span>

								</td>
							</tr>
						</table>
						<!-- /address details -->

						<br/>

						<p style="text-align:center;">
							<a class="btn" href="{{ shop.url }}/account">Log in to view your order &raquo;</a>
						</p>

						<br/>

						<p><small>If you can't get the button to work, paste this link into your browser: {{ shop.url }}/account</small></p>

					</td>
				</tr>
			</table>
			</div>

		</td>
		<td></td>
	</tr>
</table>
<!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap" bgcolor="#ff4259">
	<tr>
		<td></td>
		<td class="container">

				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>Thank you for shopping at <a href="{{ shop.url }}" style="color:#111111;">{{ shop.name }}</a>!</p>
						<a href="{{ shop.url }}" title="{{ shop_name }}"><img src="{{ 'logo.png' | asset_url }}" style="width:40px;height:auto;" alt="{{ shop_name }}" /></a>
						<br/><br/>
						<p><strong><a href="{{ shop.email }}" style="color:#111111;">{{ shop.email }}</a></strong></p>
						<p><small>© {{ shop.name }}</small></p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>