<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta name="viewport" content="width=device-width" /><!-- IMPORTANT -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Shipping Confirmation</title>

<link rel="stylesheet" type="text/css" href="build/css/main.css" />

</head>

<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap">
	<tr>
		<td></td>
		<td class="header container">

				<div class="content">
					<table>
						<tr>
							<td>
								<a href="{{ shop.url }}" title="{{ shop_name }}" alt="{{ shop_name }}" /><img src="{{ 'logo.png' | asset_url }}" style="width:70px;height:auto;" /></a>
							</td>
							<td align="right">
								<h6 class="collapse">{{ shop.name }}</h6>
							</td>
						</tr>
					</table>
				</div>

		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<br/>

						<h3>Thanks{% if billing_address.name %}, {{ billing_address.name }}{% endif %}</h3>

						<br/>

						<h5>{% if fulfillment.item_count == item_count %}All{% elsif fulfillment_status == 'fulfilled' %}The last{% else %}Some{% endif %} of the items from order {{ name }} have now been shipped:</h5>

						<!-- Line Items -->
						{% for line in fulfillment.fulfillment_line_items %}
						<div class="products">
							<img src="{{ line.line_item.product.featured_image | product_img_url: 'small' }}" />
							<span> {{ line.quantity }}x {{ line.line_item.title }}</span>
						</div>
						<hr>
						<div style="clear:both;"></div>
						{% endfor %}
						<!-- /Line Items -->

						<p>{% if requires_shipping %}They are being shipped {% if fulfillment.tracking_company %}via {{ fulfillment.tracking_company }} {% endif %}to the following address: </p>

						<p>{{ shipping_address.name }}<br/>
						{{ shipping_address.street }}<br/>
						{{ shipping_address.city }}<br/>
						{{ shipping_address.province }}
						{{ shipping_address.zip }}<br/>
						{{ shipping_address.country }}</p>

						{% if fulfillment.tracking_numbers.size > 0 %}
						{% if fulfillment.tracking_numbers.size == 1 %}
						<p>The tracking number for these items is {{ fulfillment.tracking_numbers.first }}.

						<p style="text-align:center;">
							<a class="btn" href="{{ fulfillment.tracking_urls.first }}">View status &raquo;</a>
						</p>

						<p><small>If you can't get the button to work, paste this link into your browser: {{ fulfillment.tracking_urls.first }}</small></p>

						<br/>

						{% else %}
						<p>The tracking details for these items are as follows:</p> {% for tracking_number in fulfillment.tracking_numbers %}, {{ tracking_number }}<br/>
						{% endfor %}</p>

						{% for tracking_url in fulfillment.tracking_urls %}
						<p style="text-align:center;">
							<a class="btn" href="{{ tracking_url }}">Track your order &raquo;</a>
						</p>

						<p><small>If you can't get the button to work, paste this link into your browser: {{ tracking_url }}</small></p>

						{% endfor %}
						{% endif %}

						<p><small>Please allow some time for the status of the shipment to correctly display at the above address.</small></p>
						{% endif %}{% endif %}

						{% if fulfillment_status != 'fulfilled' %}
						<p>You will receive a confirmation email when other items have been shipped.</p>
						{% endif %}

					</td>
				</tr>
			</table>
			</div>

		</td>
		<td></td>
	</tr>
</table>
<!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">

		<!-- content -->
		<div class="content">
			<table>
				<tr>
					<td align="center">
						<p>Thank you for shopping at <a href="{{ shop.url }}">{{ shop.name }}</a>!</p>
						<a href="{{ shop.url }}" title="{{ shop_name }}"><img src="{{ 'logo.png' | asset_url }}" style="width:40px;height:auto;" alt="{{ shop_name }}" /></a>
						<br/><br/>
						<p><strong><a href="{{ shop.email }}">{{ shop.email }}</a></strong></p>
					</td>
				</tr>
			</table>
		</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>